body {
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;         /* quero o texto mais afastado da section title e das margens... tenho de usar o PADDING property */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
  font-weight: bold;       /* Montserrat-Bold somehow isn't working */
}

p {
  color: #8f8f8f;
}

/* ########--- HEADINGS ---######## */
.big-heading {
  font-size: 4.5rem;
  line-height: 1.2;         /* tamanho da linha */
  font-weight: bold;
}


/* ########--- Color Sections ---######## */

.coloured-section {
  background-color: #ff4c68;
  color: #fff;      /* mudar a fonte color da nossa secção */
}

.white-section {
  background-color: #fff;
}

/* ########--- Navigation Bar ---######## */
.navbar {
  padding: 0 0 4.5rem;      /* para o tindog ficar alinhado com o nosso texto e botões */
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size:1.2rem;         /* tamanho */
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* ########--- Download Buttons ---######## */
.download-button {
  margin: 5% 3% 5% 0;       /* distância entre os botões e o texto */
}

/* ########--- Title Section ---######## */
#title {
  text-align: left;         /* devido ao text-align: center no body */
}

#title .container-fluid {
  padding: 3% 7% 15%;
}

.title-image {
  width: 70%;
  transform: rotate(25deg);
  position: absolute;
}

/* ########--- Features section ---######## */
#features {
  position: relative;
  z-index: 1;    /* o features senta em cima do title image e assim conseguimos que o telemovel fique parte de fora */
}

.feature-box {
  padding: 5%; /* para o texto ficar mais 'encurtado' na caixa */
}

.icon-colour {
  color: #ef8172;
  margin-bottom: 1rem;       /* ficar um pouco afastado do texto */
}

.icon-colour:hover {        /* mudar a cor quando o rato está a passar pelo icon */
  color: #ff4c68;
}

/* ########--- Testimonials Section ---######## */
#testimonials {
  background-color: #ef8172;
}

.testimonial-heading-2-text {
  line-height: 1.5;
  font-size: 2.9rem;
  font-weight: bold;
}

.testimonial-image {
  width: 10%;                 /* imagem mais smaller */
  border-radius: 100%;       /* imagem circular */
  margin: 20px;             /* afastar um pouco a imagem do texto à volta */
}

.carousel-item {
  padding: 5% 15%;         /* fazer os botões de deslizar um pouco mais longe do texto */
}

/* ########--- Press Section ---######## */
#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-log {
  width: 15%;
  margin: 20px 20px 50px;
}

/* ########--- Pricing Section ---######## */
#pricing {
  padding: 100px;       /* 100px para todos os lados */
}

.pricing-heading-2-text {
  line-height: 1.5;
  font-size: 2.9rem;
  font-weight: bold;
}

.pricing-heading-3-text {
  font-size: 1.5rem;       /* tamanho da letra ligeiramente > que a tag 'p' */
}

.pricing-column {
  padding: 3% 2%;       /* 3% do top e bottom; 2% do left e right */
}

/* ########--- Call to Action Section ---######## */
.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
}

/* ########--- Footer Section ---######## */
.social-media {
  margin: 20px 10px;

  /* size of the icon */
  width: 24px !important;
  height: 24px !important;
}

/* ######## --- Media Query ---######## para a foto do tele com o cão em vista modo telefone não vir para baixo, continuar no sítio */
@media (max-width: 994px) { /* 994px ou menor queremos mudar a posição para estático */

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
